:root {
    --primary: #e3e6f3;
    --font-highlight: #088178;
    --font-basic: #465b52;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
}

h1 {
    font-size: 3.125rem;
    line-height: 4rem;
}

h2 {
    font-size: 2.875rem;
    line-height: 3.375rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    color: var(--font-basic);
    margin: 1rem 0 1.25rem 0;
}

/* 
.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
} 
*/

.body {
    width: 100%;
}

li {
    list-style: none;
}

a,
a:link,
a:visited,
a:hover,
a:focus,
a:active {
    text-decoration: none;
}